name: Build and Publish Dev Container Images
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0'
env:
  REGISTRY: ghcr.io
  BASE_IMAGE_NAME: base
  BASE_IMAGE_PATH: psi-polska/devcontainers/base
  CD_IMAGE_NAME: cloud-developer
  CD_IMAGE_PATH: psi-polska/devcontainers/cloud-developer
  WEB_IMAGE_NAME: web-developer
  WEB_IMAGE_PATH: psi-polska/devcontainers/web-developer

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: (BASE) Extract metadata
        id: meta-base
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.CD_IMAGE_PATH }}

      - name: (BASE) Build and push
        id: build-base
        uses: docker/build-push-action@v6
        with:
          context: src/${{ env.BASE_IMAGE_NAME }}
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ env.REGISTRY }}/${{ env.BASE_IMAGE_PATH }}
          labels: ${{ steps.meta-base.outputs.labels }}
          no-cache: true

      - name: (BASE) Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.BASE_IMAGE_PATH}}
          subject-digest: ${{ steps.build-base.outputs.digest }}
          push-to-registry: ${{ github.ref == 'refs/heads/main' }}

      - name: (CD) Extract metadata
        id: meta-cd
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.CD_IMAGE_PATH }}

      - name: (CD) Build and push
        id: build-cd
        uses: docker/build-push-action@v6
        with:
          context: src/${{ env.CD_IMAGE_NAME }}
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ env.REGISTRY }}/${{ env.CD_IMAGE_PATH }}
          labels: ${{ steps.meta-cd.outputs.labels }}
          no-cache: true

      - name: (CD) Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.CD_IMAGE_PATH}}
          subject-digest: ${{ steps.build-cd.outputs.digest }}
          push-to-registry: ${{ github.ref == 'refs/heads/main' }}

      - name: (WEB) Extract metadata
        id: meta-web
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.WEB_IMAGE_PATH }}

      - name: (WEB) Build and push
        id: build-web
        uses: docker/build-push-action@v6
        with:
          context: src/${{ env.WEB_IMAGE_NAME }}
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ env.REGISTRY }}/${{ env.WEB_IMAGE_PATH }}
          labels: ${{ steps.meta-web.outputs.labels }}
          no-cache: true

      - name: (WEB) Run Trivy scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.WEB_IMAGE_PATH }}
          format: 'sarif'
          scanners: 'vuln'
          severity: 'CRITICAL,HIGH'
          limit-severities-for-sarif: true
          output: 'trivy-web.sarif'

      - name: (WEB) Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-web.sarif'

      - name: (WEB) Generate SBOM (github) and submit to Dependency Graph
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.WEB_IMAGE_PATH }}
          format: 'github'
          output: 'sbom-github-web_developer.json'
          github-pat: ${{ secrets.GITHUB_TOKEN }}

      - name: (WEB) Generate SBOM (CycloneDX)
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.WEB_IMAGE_PATH }}
          format: 'cyclonedx'
          output: 'sbom-cyclonedx-web_developer.json'

      - name: (WEB) Upload SBOM (CycloneDX) as a Github artifact
        uses: actions/upload-artifact@v6
        with:
          name: trivy-sbom-report
          path: 'sbom-cyclonedx-web_developer.json'

      - name: (WEB) Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.WEB_IMAGE_PATH}}
          subject-digest: ${{ steps.build-web.outputs.digest }}
          push-to-registry: ${{ github.ref == 'refs/heads/main' }}
